body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .form-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  .form-header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .form-header p {
    margin: 0;
    font-size: 14px;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
  }
  
  input {
    width: calc(100% - 10px);
    padding: 8px 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .show-hide-btn {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    color: #007bff;
    cursor: pointer;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .show-hide-btn:hover {
    text-decoration: underline;
  }
  
  .password-tooltip {
    display: none;
    position: absolute;
    background: #f8f9fa;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .status {
    font-size: 12px;
    margin-top: 5px;
  }
  
  
  
  .submit-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: green;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
  }
  